
<launch>
  <arg name="model" default="waffle" />
  <arg name="robot_name" default="waffle" />
  <arg name="bot_x" default="-1.5" />
  <arg name="bot_y" default="-1.5" />
  <arg name="bot_yaw" default="1.57" />
  
  <!-- <arg name="rviz_config" default="$(find navigation_809e)/rviz/navigation.rviz" /> -->
  <!-- <arg name="urdf_file" default="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro' laser_visual:=false" /> -->
  <!-- <param name="robot_description" command="$(arg urdf_file)" /> -->
  <!-- Publish robot to tf tree -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
 
  <!-- Spawn robot in gazebo -->
  <!-- <node name="spawn_turtlebot" pkg="gazebo_ros" type="spawn_model" 
  args="-urdf
  -param robot_description 
  -x $(arg bot_x) 
  -y $(arg bot_y) 
  -Y $(arg bot_yaw) 
  -model $(arg robot_name)" respawn="false" output="screen" /> -->

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg robot_name) -x $(arg bot_x) -y $(arg bot_y) -Y $(arg bot_yaw) -param robot_description" />

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_fake)/rviz/turtlebot3_fake.rviz"/> -->

  
</launch>
